{% extends 'base.html.twig' %}

{% block title %}Liste d'Exercices{% endblock %}

{% block body %}
<a href="{{ path ('app_accueil' )}}">Accueil</a>




    <h2> Choisissez les exercices à attribuer à votre patient:</h2>
    <h2>Votre patient: {{patient.nom}}</h2>




</ul>

<ul id="exercicesContainer" data-patientId={{patient.id}}>
{% for exercice in exercices %}
{% if exercice not in exercicesass %}

<li class= "exercices" id="exercice-{{ exercice.id }}">
{{ exercice.nom}}
<button class="delete-btn"> Assigner </button>
</li>
{% endif %}

    
{% endfor %}
</ul>

<h3> Exercices déjà assignés:</h3>
<ul>
{% for exerciceass in exercicesass %}
<li>
{{ exerciceass.nom}}
</li>

{% endfor %}

{% endblock %}
