{% extends 'base.html.twig' %}

{% block title %}Liste d'Exercices{% endblock %}

{% block body %}
<a href="{{ path ('app_accueil' )}}">Accueil</a>




    <h2> Choisissez les exercices à attribuer à votre patient:</h2>
    <h2>Votre patient: {{patient.nom}}</h2>


</ul>
<ul>
{% for exercice in exercices %}
<li id="exercice-{{ exercice.id }}">
{{ exercice.nom}}
<button id="delete-btn"> Choisir </button>
</li>

    
{% endfor %}
</ul>

<h3> Exercices déjà assignés:</h3>
<ul>
{% for exerciceass in exercicesass %}
<li>
{{ exerciceass.nom}}
</li>

{% endfor %}

{% endblock %}
