{% extends 'base.html.twig' %}


{% block body %}
<h1>Réalisation de l'exercice</h1>

{{ form_start(formresultat) }}

<div class="form-container">
    <div class="question-block">
        <h4>{{ formresultat.vars.data.question }}</h4>
        {{ form_row(formresultat.resultat) }}
    </div>
    
    <div class="question-block">
        <h4>{{ formresultat.vars.data.question2 }}</h4>
        {{ form_row(formresultat.resultat2) }}
    </div>

    <div class="question-block">
        <h4>{{ formresultat.vars.data.question3 }}</h4>
        {{ form_row(formresultat.resultat3) }}
    </div>

    <div class="question-block">
        <h4>{{ formresultat.vars.data.question4 }}</h4>
        {{ form_row(formresultat.resultat4) }}
    </div>

    <div class="question-block">
        <h4>{{ formresultat.vars.data.question5 }}</h4>
        {{ form_row(formresultat.resultat5) }}
    </div>

    <div class="feedback-block">
        <h4>Feedback</h4>
        {{ form_row(formresultat.feedback) }}  <!-- Si vous avez un champ pour le feedback -->
    </div>

    <div class="submit-btn">
        <button type="submit" class="btn">Soumettre</button>
    </div>
</div>

{{ form_end(formresultat) }}
{% endblock %}


