{# {% extends 'base.html.twig' %}

{% block title %}Création d'Exercices!{% endblock %}

{% block body %}
<h2>Créez Votre Exercice: </h2>
{{form_start (formexercice)}}
{{form_widget (formexercice)}}
<input type="submit" value="Enregistrer">
{{form_end (formexercice)}}

<a href="{{ path ('app_accueil' )}}">Acceuil</a>

{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Création d'Exercices!{% endblock %}

{% block body %}
<div class="container">
    <h2 class="page-title">Créez Votre Exercice</h2>
    
    {{ form_start(formexercice, {'attr': {'class': 'exercise-form'}}) }}
        {{ form_widget(formexercice) }}
        <input type="submit" value="Enregistrer" class="btn submit-btn">
    {{ form_end(formexercice) }}

    <a href="{{ path('app_accueil') }}" class="back-link">← Accueil</a>
</div>
{% endblock %}
