{# {% extends 'base.html.twig' %}

{% block title %}Liste d'Exercices{% endblock %}

{% block body %}

<ul>
{% for exercice in exercices %}
<li>
{{ exercice.nom}}
</li>

    
{% endfor %}
</ul>
<a href="{{ path ('app_accueil' )}}">Accueil</a>

{% endblock %} #}
{% extends 'base.html.twig' %}

{% block title %}Liste d'Exercices{% endblock %}

{% block body %}
<div class="container">
    <a href="{{ path('app_accueil') }}" class="back-link">← Accueil</a>

    <h1 class="page-title">Liste des Exercices</h1>
    <a href="{{ path('app_creation_exercice') }}" class="action-exo">Enregistrer un nouvel exercice</a>

    <ul class="exercise-list">
        {% for exercice in exercices %}
            <li class="exercise-item">
                <a href="{{ path('afficher_exercice', {'exerciceId': exercice.id})}}"><span class="exercise-name">{{ exercice.nom }}</span></a>
            </li>
        {% endfor %}
    </ul>
    

    
</div>
{% endblock %}
