{# {% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur le site d'exercice pour personnes aphasiques</h1>

{% if is_granted ('ROLE_MEDIC') %}
    <a href="{{ path ('app_enregistrement_patient' )}}">Enregistrement Patient</a>
    <a href="{{ path ('app_liste_exercices' )}}">Exercices</a>
    <a href="{{ path ('app_creation_exercice')}}">Enregistrer un nouvel exercice</a>
    <a href="{{ path ('app_liste_patients' )}}">Patients</a> 
    
    {% elseif is_granted ('ROLE_PATIENT')%}
    
    <h2> Bonjour je suis un patient</h2>
        

    {% else %}
    <a href="{{ path ('app_login' )}}">Connexion Professionel</a>
    <a href="{{ path ('app_login' )}}">Connexion Patient</a>
        
{% endif %}







</div>
{% endblock %} #}
{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="main-title">Bienvenue sur le site d'exercice pour personnes aphasiques</h1>

    <div class="links-wrapper">
        {% if is_granted('ROLE_MEDIC') %}
            
           
            <a href="{{ path('app_liste_exercices') }}" class="action-link">Exercices</a>
            
            <a href="{{ path('app_liste_patients') }}" class="action-link">Patients</a>
        
        {% elseif is_granted('ROLE_PATIENT') %}
            <h2 class="role-title">Bonjour, je suis un patient</h2>
        
        {% else %}
            <h2 class="role-title">Connexion</h2>
            <a href="{{ path('app_login') }}" class="action-link">Connexion Professionnel</a>
            <a href="{{ path('app_login') }}" class="action-link">Connexion Patient</a>
            
        {% endif %}
    </div>
</div>
{% endblock %}
