{% extends 'base.html.twig' %}

{% block title %}Enregistrement Patient{% endblock %}

{% block body %}
<a href="{{ path ('app_accueil' )}}">Acceuil</a>
{{form_errors (form)}}
<div class="example-wrapper">
{{form_start (form)}}

{# {{ form_row (form.email) }}
{{ form_row (form.password) }}
{{ form_row (form.nom)}}
{{ form_row (form.prenom) }} #}

{# {{ form_widget (form.email)}} #}


{{ form_end (form)}} 

{% endblock %}
