{% extends 'base.html.twig' %}

{% block title %}Réalisation de l'exercice{% endblock %}

{% block body %}

    
    {{ form_start(formresultat) }}

    <div class="question-display">
        <h4>{{ formresultat.vars.data.question }}</h4>  {# Affichage de la question avec un titre #}
    </div>

    {{ form_row(formresultat.resultat) }}  {# Champ pour la réponse #}
    {{ form_row(formresultat.feedback) }}  {# Champ pour le feedback #}
    
    <button type="submit">Soumettre</button>

{{ form_end(formresultat) }}

    

{# {{form_start (formresultat)}}
{{form_widget (formresultat)}}
<input type="submit" value="Enregistrer">
{{form_end (formresultat)}}
 #}

{% endblock %}
