{% extends 'base.html.twig' %}

{% block title %}Création d'Exercices!{% endblock %}

{% block body %}
<div class="container">
    <a href="{{ path('app_accueil') }}" class="back-link">← Accueil</a> 
    <a href=" {{ path('app_liste_exercices')}}" class="back-link"> Liste des Exercices</a>
    <h2 class="page-title">Exercice: {{ exercice.nom }}</h2>

    
    <h3 class="exercise-name">{{ exercice.question }}</h3>
    <h3 class="exercise-name">{{ exercice.question2 }}</h3>
    <h3 class="exercise-name">{{ exercice.question3 }}</h3>
    <h3 class="exercise-name">{{ exercice.question4 }}</h3>
    <h3 class="exercise-name">{{ exercice.question5 }}</h3>
    
    
    


</div>
{% endblock %}
